## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.vs/
.vscode/

## Build
[Bb]uild/
publish/
*.zip

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
Desktop.ini

## OS
.DS_Store
